/*flex-direction: column*/
.container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(255, 228, 228);
}

.container div {
    width: 100px;
    height: 100px;
    border: 2px solid rgb(88, 4, 4);
    background-color: lemonchiffon;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

/*flex-direction: row-reverse.*/
.container {
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
    background-color: rgb(255, 228, 228);
}

.container div {
    width: 100px;
    height: 100px;
    border: 2px solid rgb(88, 4, 4);
    background-color: lemonchiffon;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

/*flex-wrap: wrap*/
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    background-color: rgb(255, 228, 228);
}

.container div {
    width: 300px;
    height: 300px;
    border: 2px solid rgb(88, 4, 4);
    background-color: lemonchiffon;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

/*justify-content: space-between*/
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(255, 228, 228);
}

.container div {
    width: 100px;
    height: 100px;
    border: 2px solid rgb(88, 4, 4);
    background-color: lemonchiffon;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

/*justify-content: center y align-items: center juntos*/
.container {
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgb(255, 228, 228);
}

.container div {
    width: 100px;
    height: 100px;
    border: 2px solid rgb(88, 4, 4);
    background-color: lemonchiffon;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

/*align-items: flex-end.*/
.container {
    display: flex;
    height: 400px;
    align-items: flex-end;
    padding: 10px;
    background-color: rgb(255, 228, 228);
}

.container div {
    width: 100px;
    height: 100px;
    border: 2px solid rgb(88, 4, 4);
    background-color: lemonchiffon;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

/*align-content: space-around.*/
.container {
    display: flex;
    height: 500px;
    flex-wrap: wrap;
    align-content: space-around;
    padding: 10px;
    background-color: rgb(255, 228, 228);
}

.container div {
    width: 300px;
    height: 300px;
    border: 2px solid rgb(88, 4, 4);
    background-color: lemonchiffon;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

/*order*/
.container {
    display: flex;
    padding: 10px;
    background-color: rgb(255, 228, 228);
}

.container div {
    width: 100px;
    height: 100px;
    border: 2px solid rgb(88, 4, 4);
    background-color: lemonchiffon;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

#elemento1 {
    order: 7;
}

#elemento2 {
    order: 6;
}

#elemento3 {
    order: 5;
}

#elemento4 {
    order: 4;
}

#elemento5 {
    order: 3;
}

#elemento6 {
    order: 2;
}

#elemento7 {
    order: 1;
}

/*flex-grow.*/
.container {
    display: flex;
    padding: 10px;
    background-color: rgb(255, 228, 228);
}

.container div {
    width: 100px;
    height: 100px;
    border: 2px solid rgb(88, 4, 4);
    background-color: lemonchiffon;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

#elemento1 {
    flex-grow: 7;
}

#elemento2 {
    flex-grow: 6;
}

#elemento3 {
    flex-grow: 5;
}

#elemento4 {
    flex-grow: 4;
}

#elemento5 {
    flex-grow: 3;
}

#elemento6 {
    flex-grow: 2;
}

#elemento7 {
    flex-grow: 1;
}

/*align-self.*/
.container {
    display: flex;
    height: 400px;
    align-items: flex-start;
    padding: 10px;
    background-color: rgb(255, 228, 228);
}

.container div {
    width: 100px;
    height: 100px;
    border: 2px solid rgb(88, 4, 4);
    background-color: lemonchiffon;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

#elemento3 {
    align-self: flex-end;
}